<h1>Audit Logs Dashboard</h1>
<table class="table table-hover">
  <tr>
    <td>#</td>
    <td>Employee</td>
    <td>Week Starting</td>
    <td>Confirmed at</td>
    <td>Status</td>
    <td></td>
  </tr>
  <tbody id='audit_logs'>
    <%= render @audit_logs %>
  </tbody>
</table>

<%= render partial: 'shared/pagination', locals: { obj: @audit_logs} %>
