<h1>Audit Logs Dashboard</h1>
<table class="table table-hover">
  <tr>
    <td>#</td>
    <td>Employee</td>
    <td>Week Starting</td>
    <td>Confirmed at</td>
    <td>Status</td>
    <td></td>
  </tr>
  <%= render @audit_logs %>
</table>
<%= paginate @audit_logs %>
