<div class = 'row'>
  <div class = 'col-md-12 jumbotron employee-block'>
    <%= render partial: 'pending_audit_confirmations', locals: { pending_audit_confirmations: @pending_audit_confirmations} %>
  </div>
</div>

<div class = 'row'>
  <div class = 'col-md-12 jumbotron employee-block'>
    <p> aksdj </p>
  </div>
</div>
