<% if @pending_audit_confirmations.count > 0 %>
  <div class = 'row'>
    <div class = 'col-md-12 jumbotron employee-block'>
      <h2>Pending Confirmation</h2>
      <%= render partial: 'pending_audit_confirmations', locals: { pending_audit_confirmations: @pending_audit_confirmations } %>
    </div>
  </div>
<% end %>

<div class = 'row'>
  <div class = 'col-md-12 jumbotron employee-block'>
    <h2>Request Overtime</h2>
    <%= link_to 'Request Overtime Approval', new_post_path, class: 'btn btn-block btn-lg btn-primary' %>
  </div>
</div>
