<h1>Posts</h1>
<table class="table table-hover">
  <tr>
    <td>#</td>
    <td>Overtime hours</td>
    <td>Date</td>
    <td>Rationale</td>
    <td>User</td>
    <td>Status</td>
    <td></td>
    <td></td>
  </tr>
  <tbody id='posts'>
    <%= render @posts %>
  </tbody>
</table>

<%= render partial: 'shared/pagination', locals: { obj: @posts} %>
