@import "bootstrap-sprockets";
@import "bootstrap";
@import "gritter";
@import "bourbon";
@import "posts.scss";
@import "audit_logs.scss";
@import "admin_homepage.scss";

.custom-nav {
  margin-bottom: 30px;
}

.brand {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.custom-gritter .gritter-item {
  background: grey;
}